{
    "gen.lib.rus.ec":
    {
        "NonFictionDownloadUrl": "http://93.174.95.29/main/{thousand-bucket}/{md5:l}/",
        "NonFictionCoverUrl": "http://gen.lib.rus.ec/covers/{cover-url}",
        "NonFictionSynchronizationUrl": "http://gen.lib.rus.ec/json.php",
        "FictionDownloadUrl": "http://93.174.95.29/fiction/{thousand-bucket}/{md5}.{ext}/",
        "FictionCoverUrl": "http://gen.lib.rus.ec/fictioncovers/{thousand-bucket}/{md5}.jpg"
    },
    "booksdescr.org":
    {
        "NonFictionDownloadUrl": "http://booksdescr.org/ads.php?md5={md5}",
        "NonFictionDownloadTransformations": "booksdescr_org_nonfiction",
        "NonFictionCoverUrl": "http://booksdescr.org/covers/{cover-url}",
        "FictionDownloadUrl": "http://booksdescr.org/foreignfiction/ads.php?md5={md5}",
        "FictionDownloadTransformations": "booksdescr_org_fiction",
        "FictionCoverUrl": "http://booksdescr.org/fictioncovers/{thousand-bucket}/{md5}.jpg",
        "SciMagDownloadUrl": "http://booksdescr.org/scimag/ads.php?doi={doi}",
        "SciMagDownloadTransformations": "booksdescr_org_scimag",
        "RestartSessionOnTimeout": true
    },
    "libgen.me":
    {
        "NonFictionDownloadUrl": "https://libgen.me/item/detail/id/{id}",
        "NonFictionDownloadTransformations": "libgen_me_nonfiction_step1,libgen_me_nonfiction_step2",
        "FictionDownloadUrl": "https://fiction.libgen.me/item/detail/{md5}",
        "FictionDownloadTransformations": "libgen_me_fiction_step1,libgen_me_fiction_step2",
        "SciMagDownloadUrl": "https://sci.libgen.me/item/detail/{md5}",
        "SciMagDownloadTransformations": "libgen_me_scimag_step1,libgen_me_scimag_step2",
        "RestartSessionOnTimeout": false
    },
    "bookfi.net":
    {
        "NonFictionDownloadUrl": "http://bookfi.net/md5/{md5}",
        "NonFictionDownloadTransformations": "bookfi_net",
        "NonFictionCoverUrl": "http://i.bookfi.net/covers/{cover-url}",
        "FictionDownloadUrl": "http://bookfi.net/md5/{md5}",
        "FictionDownloadTransformations": "bookfi_net",
        "RestartSessionOnTimeout": false
    },
    "b-ok.xyz":
    {
        "NonFictionDownloadUrl": "http://b-ok.xyz/md5/{md5}",
        "NonFictionDownloadTransformations": "b_ok_xyz_step1,b_ok_xyz_step2",
        "FictionDownloadUrl": "http://b-ok.xyz/md5/{md5}",
        "FictionDownloadTransformations": "b_ok_xyz_step1,b_ok_xyz_step2",
        "RestartSessionOnTimeout": false
    },
    "booksc.org":
    {
        "SciMagDownloadUrl": "http://booksc.org/s/?q={md5}&t=0",
        "SciMagDownloadTransformations": "booksc_org_step1,booksc_org_step2",
        "RestartSessionOnTimeout": false
    },
    "GenoType (TOR)":
    {
        "NonFictionDownloadUrl": "http://genotypeinczgrxr.onion/LG/{thousand-index}/{md5:l}",
        "FictionDownloadUrl": "http://genotypeinczgrxr.onion/FF/{thousand-index}/{md5:l}.{ext}",
        "RestartSessionOnTimeout": false
    }
}