{
    "gen.lib.rus.ec":
    {
        "NonFictionDownloadUrl": "https://93.174.95.29/main/{thousand-bucket}/{md5:l}/",
        "NonFictionCoverUrl": "https://gen.lib.rus.ec/covers/{cover-url}",
        "NonFictionSynchronizationUrl": "https://gen.lib.rus.ec/json.php",
        "FictionDownloadUrl": "https://93.174.95.29/fiction/{thousand-bucket}/{md5:l}.{ext}/",
        "FictionCoverUrl": "https://gen.lib.rus.ec/fictioncovers/{thousand-bucket}/{md5:l}.jpg",
        "DatabaseDumpPageUrl": "https://gen.lib.rus.ec/dbdumps/",
        "DatabaseDumpPageTransformation": "genlibrusec_dbdumps",
        "DatabaseDumpManualDownload":
        {
            "NonFictionFileNameTemplate": "libgen_compact_{date}.rar",
            "FictionFileNameTemplate": "fiction_{date}.rar",
            "SciMagFileNameTemplate": "scimag_{date}.sql.gz",
            "DateTemplate": "YYYY-MM-DD"
        }
    },
    "libgen.lc":
    {
        "NonFictionDownloadUrl": "https://libgen.lc/ads.php?md5={md5}",
        "NonFictionDownloadTransformations": "libgen_lc_nonfiction",
        "NonFictionCoverUrl": "https://libgen.lc/covers/{cover-url}",
        "FictionDownloadUrl": "https://libgen.lc/foreignfiction/ads.php?md5={md5}",
        "FictionDownloadTransformations": "libgen_lc_fiction",
        "FictionCoverUrl": "https://libgen.lc/fictioncovers/{thousand-bucket}/{md5}.jpg",
        "SciMagDownloadUrl": "https://libgen.lc/scimag/ads.php?doi={doi}",
        "SciMagDownloadTransformations": "libgen_lc_scimag",
        "RestartSessionOnTimeout": true
    },
    "booklid.org":
    {
        "NonFictionDownloadUrl": "https://m.booklid.org/s/?q={md5}&e=1",
        "NonFictionDownloadTransformations": "booklid_org_step1,booklid_org_step2",
        "NonFictionCoverUrl": "https://i.booklid.org/covers/{cover-url}",
        "FictionDownloadUrl": "https://m.booklid.org/s/?q={md5}&e=1",
        "FictionDownloadTransformations": "booklid_org_step1,booklid_org_step2",
        "RestartSessionOnTimeout": false
    },
    "b-ok.xyz":
    {
        "NonFictionDownloadUrl": "https://b-ok.xyz/md5/{md5}",
        "NonFictionDownloadTransformations": "b_ok_xyz_step1,b_ok_xyz_step2",
        "FictionDownloadUrl": "https://b-ok.xyz/md5/{md5}",
        "FictionDownloadTransformations": "b_ok_xyz_step1,b_ok_xyz_step2",
        "RestartSessionOnTimeout": false
    },
    "booksc.org":
    {
        "SciMagDownloadUrl": "https://booksc.org/s/?q={md5}&t=0",
        "SciMagDownloadTransformations": "booksc_org_step1,booksc_org_step2",
        "RestartSessionOnTimeout": false
    },
    "GenoType (TOR)":
    {
        "NonFictionDownloadUrl": "https://genotypeinczgrxr.onion/LG/{thousand-index}/{md5:l}",
        "FictionDownloadUrl": "https://genotypeinczgrxr.onion/FF/{thousand-index}/{md5:l}.{ext}",
        "RestartSessionOnTimeout": false
    },
    "sci-hub.se":
    {
        "SciMagDownloadUrl": "https://sci-hub.se/{doi}",
        "SciMagDownloadTransformations": "sci-hub",
        "RestartSessionOnTimeout": false
    },
    "sci-hub.tw":
    {
        "SciMagDownloadUrl": "https://sci-hub.tw/{doi}",
        "SciMagDownloadTransformations": "sci-hub",
        "RestartSessionOnTimeout": false
    }
}
