{
    "libgen.io":
    {
        "NonFictionDownloadUrl": "http://booksdl.org/get.php?md5={md5}",
        "NonFictionDownloadTransformations": "libgen_io_nonfiction",
        "NonFictionCoverUrl": "http://booksdescr.org/covers/{cover-url}",
        "FictionDownloadUrl": "http://booksdl.org/foreignfiction/get.php?md5={md5}",
        "FictionCoverUrl": "http://libgen.io/fictioncovers/{thousand-bucket}/{md5}.jpg",
        "SciMagDownloadUrl": "http://booksdescr.org/scimag/ads.php?doi={doi}",
        "SciMagDownloadTransformations": "libgen_io_scimag",
        "RestartSessionOnTimeout": true
    },
    "gen.lib.rus.ec":
    {
        "NonFictionDownloadUrl": "http://download.library1.org/main/{thousand-bucket}/{md5:l}/",
        "NonFictionCoverUrl": "http://gen.lib.rus.ec/covers/{cover-url}",
        "NonFictionSynchronizationUrl": "http://gen.lib.rus.ec/json.php",
        "FictionDownloadUrl": "http://download.library1.org/fiction/{thousand-bucket}/{md5}.{ext}/",
        "FictionCoverUrl": "http://gen.lib.rus.ec/fictioncovers/{thousand-bucket}/{md5}.jpg"
    },
    "libgen.pw":
    {
        "NonFictionDownloadUrl": "https://booksdescr.com/item/detail/id/{id}",
        "NonFictionDownloadTransformations": "libgen_pw_nonfiction",
        "FictionDownloadUrl": "https://fiction.booksdescr.com/item/detail/{md5}",
        "FictionDownloadTransformations": "libgen_pw_fiction",
        "SciMagDownloadUrl": "https://sci.booksdescr.com/item/detail/{md5}",
        "SciMagDownloadTransformations": "libgen_pw_scimag",
        "RestartSessionOnTimeout": false
    },
    "bookfi.net":
    {
        "NonFictionDownloadUrl": "http://bookfi.net/md5/{md5}",
        "NonFictionDownloadTransformations": "bookfi_net",
        "NonFictionCoverUrl": "http://i.bookfi.net/covers/{cover-url}",
        "FictionDownloadUrl": "http://bookfi.net/md5/{md5}",
        "FictionDownloadTransformations": "bookfi_net",
        "RestartSessionOnTimeout": false
    },
    "b-ok.xyz":
    {
        "NonFictionDownloadUrl": "http://b-ok.xyz/md5/{md5}",
        "NonFictionDownloadTransformations": "b_ok_xyz_step1,b_ok_xyz_step2",
        "FictionDownloadUrl": "http://b-ok.xyz/md5/{md5}",
        "FictionDownloadTransformations": "b_ok_xyz_step1,b_ok_xyz_step2",
        "RestartSessionOnTimeout": false
    },
    "booksc.org":
    {
        "SciMagDownloadUrl": "http://booksc.org/s/?q={md5}&t=0",
        "SciMagDownloadTransformations": "booksc_org_step1,booksc_org_step2",
        "RestartSessionOnTimeout": false
    },
    "GenoType (TOR)":
    {
        "NonFictionDownloadUrl": "http://genotypeinczgrxr.onion/LG/{thousand-index}/{md5:l}",
        "FictionDownloadUrl": "http://genotypeinczgrxr.onion/FF/{thousand-index}/{md5:l}.{ext}",
        "RestartSessionOnTimeout": false
    }
}