################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibgenDesktop/Downloads
/LibgenDesktop/bin/Debug x64
/LibgenDesktop/obj
/packages
/LibgenDesktop.Setup/obj/Release
/LibgenDesktop.Setup/obj/Debug x86
/LibgenDesktop.Setup/obj/Debug x64
/LibgenDesktop.Setup/obj
/fiction_dbbackup-2016-01-02.rar
/.vs
