<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.2.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="SharpCompress" version="0.18.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net45" />
</packages>