{
    "libgen.io":
    {
        "NonFictionDownloadUrl": "http://libgen.io/book/index.php?md5=",
        "NonFictionCoverUrl": "http://libgen.io/covers/",
        "FictionDownloadUrl": "http://libgen.io/foreignfiction/ads.php?md5=",
        "FictionCoverUrl": "http://libgen.io/fictioncovers/",
        "SciMagDownloadUrl": "http://libgen.io/scimag/ads.php?doi="
    },
    "gen.lib.rus.ec":
    {
        "NonFictionDownloadUrl": "http://gen.lib.rus.ec/book/index.php?md5=",
        "NonFictionCoverUrl": "http://gen.lib.rus.ec/covers/"
    }
}