{
    "libgen.io":
    {
        "NonFictionDownloadUrl": "http://libgen.io/book/index.php?md5={md5}",
        "NonFictionCoverUrl": "http://libgen.io/covers/{cover-url}",
        "FictionDownloadUrl": "http://libgen.io/foreignfiction/ads.php?md5={md5}",
        "FictionCoverUrl": "http://libgen.io/fictioncovers/{thousand-bucket}/{md5}.jpg",
        "SciMagDownloadUrl": "http://libgen.io/scimag/ads.php?doi={doi}"
    },
    "gen.lib.rus.ec":
    {
        "NonFictionDownloadUrl": "http://gen.lib.rus.ec/book/index.php?md5={md5}",
        "NonFictionCoverUrl": "http://gen.lib.rus.ec/covers/{cover-url}"
    },
    "libgen.pw":
    {
        "NonFictionDownloadUrl": "https://libgen.pw/item/detail/id/{id}?id={id}",
        "NonFictionCoverUrl": "https://libgen.pw/covers/{cover-url}",
        "FictionDownloadUrl": "http://fiction.libgen.pw/item/detail/{md5}",
        "SciMagDownloadUrl": "https://sci.libgen.pw/item/detail/{md5}"
    },
    "bookfi.net":
    {
        "NonFictionDownloadUrl": "http://bookfi.net/md5/{md5}",
        "NonFictionCoverUrl": "http://i.bookfi.net/covers/{cover-url}",
        "FictionDownloadUrl": "http://bookfi.net/md5/{md5}"
    },
    "b-ok.org":
    {
        "NonFictionDownloadUrl": "http://b-ok.org/md5/{md5}",
        "FictionDownloadUrl": "http://b-ok.org/md5/{md5}"
    },
    "booksc.org":
    {
        "SciMagDownloadUrl": "http://booksc.org/s/?q={doi}&t=0"
    }
}